.background {
  background-image: url("./img/Activities.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
height: 100vh;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 35px;
  color: #fff;
}
.containerA {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  width: 50%;
 
}

.titles {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: white;
}

.selects {
  background-color: #bf9742;
  width: 105px;
  margin-bottom: 27px;
  border-radius: 10px;
  border: 0;
}

.selects:hover {
  background-color: #a47e3b;
}

.error {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
  margin: 0 0 20px 0;
  background-color: red;
  border-radius: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;

  border-radius: 10px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.btn {
  margin-top: 25px;
  background: #bf9742;
  box-shadow: 0 0 25px #bf9742;
}

.btn:hover {
  box-shadow: 0 0 5px #bf9742, 0 0 25px #bf9742, 0 0 50px #bf9742,
    0 0 100px #bf9742;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  gap: 10px;

}

.miniCards {
  padding: 1px 12px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.miniCards {
  background: #a47e3b;
  box-shadow: 0 0 25px#A47E3B;
}

.miniCards:hover {
  box-shadow: 0 0 5px#A47E3B, 0 0 25px#A47E3B, 0 0 50px#A47E3B, 0 0 100px#A47E3B;
}

.btnMiniCards {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: white;
}

.btnMiniCards:hover {
  background-color: red;
  color: white;
}

@media (max-width: 600px) {
  .containerA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .heading {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 35px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    padding: 0 5px;
  }
}
