
.background{
    background-image: url('./img/LandingPage.jpg');
    margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;   
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
 
}
.landing{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
}

.flexTitle{
  display: flex;
justify-content: flex-start;
align-items: flex-start;
padding-left: 15px;
}

.containerBtn{
  position: fixed;
  
  right: 10px;
  bottom: 20px;


}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    
     
  
    
    
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }

  @media (max-width: 860px) {
    .flexTitle{
      display: flex;
    justify-content: center;
    align-items: center;
    }

  .containerBtn{
    position: fixed;
    bottom: 20px;
  left: 0;
  right: 0;
}
  }

  @media (max-width: 375px) {
    .landing{
      font-size: 20px;
     
  }
  

  }